/target
.idea
flamegraph.svg
perf.data
.DS_Store
.gradle
mail/mail-uniffi/android/lib/src/main/java/

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# python stuff (such as from ./scripts/changelog)
.venv
.pytest_cache
.ruff_cache
__pycache__
.cursorrules
